<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Ajustes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-card class="message">
    <ion-title>
      Config. de estilo
    </ion-title>
  </ion-card>
  <ion-card class="select-card">
    <ion-select [(ngModel)]="selectedFont" label="Fontes" aria-label="font" (ionChange)="handleFontChange($event)">
      @for(font of fonts; track $index){
      <ion-select-option [style.fontFamily]="font.value" [value]="font.value">{{font.name}}</ion-select-option>
      }
    </ion-select>
  </ion-card>
  <ion-card class="select-card">
    <ion-select [(ngModel)]="selectedFont" label="Tamanho da fonte" aria-label="font"
      (ionChange)="handleFontSizeChange($event)">
      @for(font of fontSizes; track $index){
      <ion-select-option [value]="font">{{font}}</ion-select-option>
      }
    </ion-select>
  </ion-card>
  <ion-card class="toggle-card">
    <ion-toggle justify="space-between" [(ngModel)]="securityMode" (ionChange)="onSecurityToggleChange($event)">Ativar
      modo de segurança</ion-toggle>
  </ion-card>
  @if (securityMode){
  <ion-card class="message">
    <ion-title>
      Modo de segurança ativado
    </ion-title>
  </ion-card>
  <ion-card class="toggle-card">
    <ion-toggle justify="space-between" [(ngModel)]="passwordActive"
      (ionChange)="onPasswordToggleChange($event)">Definir senha</ion-toggle>
  </ion-card>
  @if (passwordActive){
  <ion-card class="message">
    <input type="password" [(ngModel)]="password" (ionInput)="savePreferences()"
      placeholder="Defina uma senha"><button (click)="savePreferences()">Confirmar</button>
  </ion-card>
  }
  <ion-card class="toggle-card">
    <ion-toggle justify="space-between" [(ngModel)]="attemptLimit"
      (ionChange)="onAttemptLimitToggleChange($event)">Definir limite de tentativas</ion-toggle>
  </ion-card>
  @if (attemptLimit) {
  <ion-card class="message">
    <input type="number" [(ngModel)]="attemptOfNumber" placeholder="Defina o limite de tentativas"><button
      (click)="savePreferences()">Confirmar</button>
  </ion-card>
  }
  <ion-card class="toggle-card">
    <ion-toggle justify="space-between" [(ngModel)]="deletePeriodically"
      (ionChange)="onDeletePeriodToggleChange($event)">Apagar arquivos em períodos</ion-toggle>
  </ion-card>
  @if (deletePeriodically) {
  <ion-card class="message">
    <ion-select [(ngModel)]="deletePeriod" label="Período de apagar">
      @for(period of deletePeriodOptions; track $index){
      <ion-select-option [value]="period.value">{{period.label}}</ion-select-option>
      }
    </ion-select>
  </ion-card>
  }
  }
</ion-content>